@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
}

header img, footer img {
  width: 40px;
  height: 40px;
}

nav ul {
  display: flex;
  padding: 20px;
  list-style: none;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
  color: #088178;
}

h1, h2 {
  text-align: center;
  font-family: "Josefin Sans", serif;
  font-size: 48px;
  color: black;
  margin-top: 40px;
}

footer p {
  text-align: center;
}

nav.sociallinks {
  display: flex !important;
  text-decoration: none;
}

nav.sociallinks a {
  padding: 20px;
}

.contact-details, .form-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.section-heading {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

.details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

.details li i {
  font-size: 14px;
  padding-right: 22px;
}

.details li p {
  margin: 0;
  font-size: 14px;
}

.map {
  width: 55%;
  height: 400px;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 2px;
}

.submit-button {
  background-color: #088178;
  color: #fff;
}